package fib

fn fib_recursive (index int) int {
    match index {
        0: return 0 
        1: return 1
        _: return fib_recursive(index - 1) + fib_recursive (index -2)
    } 
}

fn fib_iterative (index int) {
    match index {
        0: return 0
        1: return 1
    }
    tmp1 := 0
    tmp2 := 1
    for i ~ index {
        tmp3 := tmp1 + tmp2
        tmp1 = tmp2
        tmp2 = tmp3
    }
}
